name: Test Workflow

on:
  push:
    branches:
      - master  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       
      - uses: actions/checkout@v3

      
      - name: Docker login
        run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_TOKEN }}

      
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/malakosama2023040259 .


      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/malakosama2023040259
